@model AccountEditViewModel

@{
  ViewData["Title"] = "Edit profile";
}

<h1>Edit your account</h1>

<div class="row">
  <div class="col">
    <form asp-controller="Account" asp-action="Edit" method="post">
      <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" value="@Model.UserName" class="form-control" aria-describedby="userNameHelp">
        <small id="userNameHelp" class="form-text text-muted">
          Username can only contain letters and digits from 2 to 32 characters. Spaces are not allowed.
        </small>
        <span asp-validation-for="UserName" class="invalid-feedback"></span>
      </div>

      <div class="form-group">
        <label asp-for="Organization"></label>
        <input asp-for="Organization" value="@Model.Organization" class="form-control" aria-describedby="organizationHelp">
        <small id="organizationHelp" class="form-text text-muted">
          Your company, your school, etc.
        </small>
        <span asp-validation-for="Organization" class="invalid-feedback"></span>
      </div>

      <button class="btn btn-lg btn-success my-4" type="submit">Save</button>
    </form>
  </div>
</div>