@model AccountReadViewModel

@{
    ViewData["Title"] = "Account";
}

<div class="jumbotron">
    <p>
        Welcome, @Model.User.UserName!
        Click <a asp-controller="Account" asp-action="Edit">here</a> to edit your account.
        You've submitted @Model.Bots.Count bots.
    </p>
</div>