@model AccountSubmitViewModel

@{
  ViewData["Title"] = "Submit a bot";
}

<div class="jumbotron">
  <h1>
    Upload a bot
    <small class="text-muted">It will be compiled as soon as possible by our servers</small>
  </h1>

  <div class="row">
    <div class="col">
      <form asp-controller="Account" asp-action="Submit" method="post" enctype="multipart/form-data">
        <div class="custom-file">
          <input asp-for="BotFile" class="custom-file-input bot-source-code"/>
          <label asp-for="BotFile" class="custom-file-label"></label>
          <span asp-validation-for="BotFile" class="invalid-feedback"></span>
        </div>

        <button class="btn btn-lg btn-success my-4" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>