<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - Bomberjam</title>
  <script src="~/dist/bundle.js" asp-append-version="true"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" asp-area="" asp-controller="Web" asp-action="Index">Bomberjam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Web" asp-action="Leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Web" asp-action="Viewer">Viewer</a>
          </li>
          @if (User?.Identity?.IsAuthenticated ?? false)
          {
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Submit">Upload</a>
            </li>
          }
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
              <a class="btn btn-outline-danger" asp-area="" asp-controller="Authentication" asp-action="SignOut">Sign out</a>
            }
            else
            {
              <a class="btn btn-outline-success" asp-area="" asp-controller="Authentication" asp-action="SignIn">Sign in</a>
            }
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

<footer class="footer text-muted">
  <div class="container">
    <div class="my-4">&copy; @DateTime.Now.Year - Bomberjam</div>
  </div>
</footer>
</body>
</html>