@using Bomberjam.Website.Utils
@model Bomberjam.Website.Controllers.DownloadModel

<div class="jumbotron">
  <h2>Downloading the Bomberjam starter kit for @Model.Os.ToDisplayString()...</h2>

  <p class="mt-4">
    If your download doesn't start after 30 seconds,
    <a asp-controller="Web" asp-action="StartDownload" asp-route-os="@Model.Os">click here to download manually</a>.
  </p>

  <form class="d-none" id="download-form" asp-controller="Web" asp-action="StartDownload" asp-route-os="@Model.Os" method="get">
    <input type="submit" />
  </form>

  <script>document.getElementById('download-form').submit()</script>

  <p class="mt-3">
    You can also download the starter kits directly from
    <a href="https://github.com/asimmon/bomberjam-contest/actions/workflows/engine-publish.yml">GitHub build artifacts <i class="fas fa-external-link-alt fa-xs"></i></a>
  </p>
</div>