@using Bomberjam.Website.Utils
@model GameInfo
@{
  ViewData["Title"] = "Game";
}

<h1>
  @string.Join(", ", Model.Users.Select(u => u.UserName))
  <small class="text-muted">@Model.Created</small>
</h1>

<div id="visualizer" data-game-id="@Model.Id" class="mt-4"></div>

@if (this.User.IsAuthenticated())
{
  var user = Model.Users.FirstOrDefault(u => u.GithubId == this.User.GetGithubId()!.Value);
  if (user != null && !string.IsNullOrWhiteSpace(user.Errors))
  {
    <h3>Bot errors</h3>
    <pre class="code-sample"><code>@user.Errors</code></pre>
  }
}