@model WebHomeViewModel

<div class="jumbotron">
  <h1>
    Bomberjam
    <small class="text-muted">is an artificial intelligence programming challenge.</small>
  </h1>

  <p class="lead mt-4">
    Write your bot using one of six languages (<abbr title=".NET Core 3.1 and .NET 5">C#</abbr>, <abbr title="Go 1.16.3">Go</abbr>, <abbr title="Java 8">Java</abbr>, <abbr title="Node.js 12">JavaScript</abbr>, <abbr title="Python 3.8">Python</abbr> and <abbr title="PHP 8.0">PHP</abbr>) and fight against other players to reach the first place in the <a asp-controller="Web" asp-action="Leaderboard">leaderboard</a>.
  </p>

  <p class="lead mt-4 mb-0">
    <a href="@Model.StarterKitsArtifactsUrl" class="btn btn-lg btn-primary">
      Download the starter kit from GitHub <i class="fas fa-external-link-alt fa-xs"></i><br/>
      <small class=""><em>(You need to be signed into GitHub to download the build artifacts)</em></small>
    </a>
  </p>
</div>

<div class="row mt-5">
  <div class="col">
    <h2>May the best bot win!</h2>

    <p>
      Players control a bot using the programming language of their choice. Four bots fight in a 2D grid. The bot with the highest score wins.
      One player can get points by destroying blocks, hitting another player and being the last player alive.
    </p>

    <ol class="mt-4">
      <li><a asp-controller="Authentication" asp-action="SignIn">Sign in</a> with your GitHub account</li>
      <li><a href="@Model.StarterKitsArtifactsUrl">Download <i class="fas fa-external-link-alt fa-xs"></i></a> the latest starter kit on GitHub</li>
      <li><a asp-controller="Web" asp-action="Learn">Learn</a> the game mechanics and <strong>write</strong> your bot</li>
      <li>Upload your bot source code as a single zip file</li>
      <li>We will compile your bot and tell you if something went wrong</li>
      <li>We will periodically schedule games and update your score</li>
    </ol>
  </div>

  <div class="col-12 col-sm-10 col-lg-5 col-md-5 offset-sm-1 offset-md-0 order-1.order-md-2">
    <div class="embed-responsive embed-responsive-746by648">
      <video autoplay loop muted>
        <source src="~/assets/demo.mp4" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </div>
</div>

<h2 class="mt-5">Get started</h2>

<div class="row">
  <div class="col-md-5 col-lg-4">
    <pre class="m-0 code-sample"><code>bomberjam.zip
├── engine/bomberjam.exe (Windows)
├── engine/bomberjam (Linux & MacOS)
│
└── starters/
  ├─ CSharp/MyBot.csproj [...]
  ├─ Go/MyBot.go [...]
  ├─ Java/MyBot.java [...]
  ├─ JavaScript/MyBot.js [...]
  └─ PHP/MyBot.php [...]
  └─ Python3/MyBot.py [...]</code>
</pre>
  </div>

  <div class="col-md-7 col-lg-8">
    <p>
      The <code>engine/</code> folder contains the game engine for the OS of your choice.
      Each starter contains a <code>MyBot.*</code> entrypoint file that <strong>must not be renamed</strong>.
    </p>

    <p>
      For each starter, you will also find a <code>run_game.bat</code> and <code>run_game.sh</code> files that allows you to simulate a game. These scripts look like this:
    </p>

    <pre><code style="white-space: normal">&gt; bomberjam.exe --output replay.json "dotnet MyBot.dll" "java MyBot" "node MyBot.js" "python MyBot.py"</code></pre>

    <p>
      An <code>install.sh</code> script may be included to install build dependencies suchs as Node.js packages.
    </p>

    <p>
      The game engine spawns a process for each bot and communicates with them over standard input and standard output.
    </p>

    <p>
      Each tick (turn), your bot will receive the current state of the game over standard input. Standard output must be used to send the action (move, plant a bomb or do nothing) within <strong>one second</strong>.
    </p>

    <p>
      <a asp-controller="Web" asp-action="Viewer">Use the online viewer</a> to visualize the game from the generated JSON file.
    </p>
  </div>
</div>

<h2 class="mt-5">How it works</h2>

<div>
  <p>
    We use <strong>Ubuntu 20.04 Docker containers</strong> to compile / package your bot as well as running the games. It means that your code must be compatible with Ubuntu 20.04.
    The container comes with <strong>.NET 5</strong>, <strong>.NET Core 3.1</strong>, <strong>Go 1.16.3</strong>, <strong>Node.js 12</strong>, <strong>Java 8</strong>, <strong>Python 3.8</strong> and <strong>PHP 8.0</strong> pre-installed.
  </p>

  <p>
    When you submit a bot, we try to recognize its language using the <code>MyBot.*</code> entrypoint file. This is why this file cannot be renamed.
    Once the language is recognized, the packaging phase begins. During this phase, you'll have access to internet.
  </p>

  <ul>
    <li>Any <code>install.sh</code> script is executed</li>
    <li>C# and Java code is compiled</li>
    <li>A <code>run.sh</code> script is created, containing the command to run your bot, such as <code>python3 MyBot.py</code></li>
    <li>Everything is zipped and stored for later use</li>
  </ul>

  <p>
    When a game is scheduled, our servers will download and unzip the packaged bots. Internet and any network access are unavailable during the game.
    The game engine will spawn a process for each bot, using the <code>run.sh</code> script created during the packaging phase.
    Each bot process is contained in an isolated environment with limited CPU and memory (1GB) so <strong>one bot cannot interfere with another</strong>.
  </p>
</div>