@{
  ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1>
    Bomberjam
    <small class="text-muted">is an artificial intelligence programming challenge.</small>
  </h1>

  <p class="lead mt-4"></p>
</div>