@{
  ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  @if (User?.Identity?.IsAuthenticated ?? false)
  {
    <h1>Welcome, @User.Identity.Name</h1>
    <a class="btn btn-lg btn-danger" asp-area="" asp-controller="Authentication" asp-action="SignOut">Sign out</a>
  }
  else
  {
    <h1>Welcome, anonymous</h1>
    <a class="btn btn-lg btn-success" asp-area="" asp-controller="Authentication" asp-action="SignIn">Sign in</a>
  }
</div>