@model IEnumerable<RankedUser>
@{
  ViewData["Title"] = "Leaderboard";
}

<h2>Leaderboard</h2>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>User</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody>
    @{
      var rank = 1;
      foreach (var user in Model)
      {
        <tr>
          <td>@(rank++)</td>
          <td>
            <a asp-controller="Web" asp-action="UserDetails" asp-route-userId="@user.Id">@user.UserName</a>
          </td>
          <td><span format-points="@user.Points"></span></td>
        </tr>
      }
    }
    </tbody>
  </table>
</div>