# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# IntelliJ
.idea/

# VS Code
.vs/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

MyBot.zip
!website/Bomberjam.Website/MyBot.zip
/tmp