version: "3"
services:
  worker:
    image: asimmon/bomberjam-worker:latest
    restart: unless-stopped
    privileged: true
    init: true
    environment:
      - API_BASE_URL=https://host.docker.internal:5001/api/
      - API_AUTH_TOKEN=TODO
      - API_POLLING_INTERVAL=5
      - API_VERIFY_SSL=0
    deploy:
      replicas: 1