@using Microsoft.AspNetCore.Authentication
@model AuthenticationScheme[]

@{
  ViewData["Title"] = "Sign in";
}

<div class="jumbotron">
  <h1>Create or sign in to your account with GitHub</h1>

  @foreach (var scheme in Model.OrderBy(p => p.DisplayName))
    {
        <form asp-controller="Authentication" asp-action="SignIn" method="post">
            <input type="hidden" name="Provider" value="@scheme.Name" />
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

            <button class="btn btn-lg btn-success m-1" type="submit">Connect using @scheme.DisplayName</button>
        </form>
    }
</div>