#visualizer {
  .canvas-wrapper {
    position: relative;
    width: 100%;
  }

  .loading-wrapper {
    // Dimensions of the real pixi canvas
    $canvas-width: 1070;
    $canvas-height: 624;
    padding-bottom: 100% * ($canvas-height / $canvas-width);
  }

  .loading-text, .canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .loading-text {
    text-align:center;

    span {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: $gray-500;
    }
  }

  .canvas {
    @extend .rounded;
    background: $jumbotron-bg;
    overflow: hidden;
  }

  canvas {
    display: block;
    width: 100%;
  }

  .range-wrapper {
    height: 100%;

    input[type="range"] {
      height: 100%;
    }
  }

  .controls {
    background: $jumbotron-bg;
  }
}