@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';

@import 'visualizer';

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

td {
  white-space: nowrap;
}

.invalid-feedback {
  display: block;
}

td {
  pre { margin: 0 }
  code { white-space: pre-line }
}

.custom-file-label::after {
  border-radius: 0;
}