::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 16px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba($black, 1/5);
}

::-webkit-scrollbar-thumb {
  background-color: $gray-500;
  border-radius: 16px;
  border: 0;
}
::-webkit-scrollbar-button {
  display: none
}