$font-size-base: 1.1rem;

$small-font-size: 70%;

$embed-responsive-aspect-ratios: (
  (746 648),
);

.lead {
  b, strong {
    font-weight: bold;
  }
}

$font-size-xl:                $font-size-base * 1.5 !default;
$line-height-xl:              1.5 !default;

$input-btn-padding-y-xl:      .75rem !default;
$input-btn-padding-x-xl:      1.25rem !default;
$input-btn-font-size-xl:      $font-size-xl !default;
$input-btn-line-height-xl:    $line-height-xl !default;

$btn-padding-y-xl:            $input-btn-padding-y-xl !default;
$btn-padding-x-xl:            $input-btn-padding-x-xl !default;
$btn-font-size-xl:            $input-btn-font-size-xl !default;
$btn-line-height-xl:          $input-btn-line-height-xl !default;

$border-radius-xl:            .4rem !default;
$btn-border-radius-xl:        $border-radius-xl !default;

@import '~bootswatch/dist/darkly/variables';