@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';
@import '~highlight.js/scss/stackoverflow-dark';

.btn-xl {
  @include button-size($btn-padding-y-xl, $btn-padding-x-xl, $btn-font-size-xl, $btn-line-height-xl, $btn-border-radius-xl);
}

@import 'visualizer';

#page-wrapper {
  position: relative;
  min-height: 100vh;
}

$footer-padding-top: 3.5rem;
$footer-padding-bottom: 1rem;
$footer-content-height: 2.5rem;

#header-and-body-wrapper {
  padding-bottom: $footer-content-height + $footer-padding-top + $footer-padding-bottom;
}

#page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: $footer-padding-top;
  padding-bottom: $footer-padding-bottom;
  height: $footer-content-height + $footer-padding-top + $footer-padding-bottom;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

td {
  white-space: nowrap;
}

.invalid-feedback {
  display: block;
}

td {
  pre { margin: 0 }
  code { white-space: pre-line }
}

.navbar-brand {
  padding-top: 0;
}

.custom-file-label::after {
  border-radius: 0;
}

table.table-nonfluid {
  width: auto !important;
}

.custom-file-label {
  color: lighten($input-color, 20%);
}

.hljs {
  background: transparent;
}

img.avatar-sm {
  @extend .rounded;
  max-height: 20px;
  max-width: 20px;
  height: 20px;
  width: 20px;
  background-color: $body-bg;
}

.code-sample {
  @extend .rounded;
  background-color: $jumbotron-bg;
  padding: 20px;

  code {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.badge-sm {
  font-size: 50%;
}